@import "./components/components.css";

:root {
  --fretboard-height: 300;
  --number-of-strings: 6;
  --string-height: 10;
  --half-string-height: calc(var(--string-height) /2 );
  --string-top-position: calc(var(--fretboard-height) / var(--number-of-strings) / 2 - var(--half-string-height));
  --double-fretmark-position-1: calc(var(--fretboard-height) * 0.25);
  --double-fretmark-position-2: calc(var(--fretboard-height) * 0.75);
}

*{
  margin: 0;
  padding: 0;
}

body {
  background: #f9f9f9;
  font-family: Lato, sans-serif;
}